/* @tailwind base; */

/* @tailwind components; */

* {
  margin: 0;
  padding: 0;
}

.translate-z-1 {
  transform: translateZ(-1px);
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-\[-1px\] {
  top: -1px;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.h-16 {
  height: 4rem;
}

.h-\[1rem\] {
  height: 1rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-\[5\%\] {
  width: 5%;
}

.w-7 {
  width: 1.75rem;
}

.w-full {
  width: 100%;
}

.w-\[50vw\] {
  width: 50vw;
}

.flex-col {
  flex-direction: column;
}

.place-content-center {
  place-content: center;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-items-center {
  place-items: center;
}

.border-0 {
  border-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-b-lineColor {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 199 163 / var(--tw-border-opacity));
}

.bg-soft {
  --tw-bg-opacity: 1;
  background-color: rgb(235 230 215 / var(--tw-bg-opacity));
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31 / var(--tw-bg-opacity));
}

.text-center {
  text-align: center;
}

.font-gt {
  font-family: GTAmericaExpended, sans-serif;
}

.font-serif {
  font-family: NeueWorldCondensed, serif;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[7rem\] {
  font-size: 7rem;
}

.font-black {
  font-weight: 900;
}

.font-thin {
  font-weight: 100;
}

.leading-\[0\.9\] {
  line-height: 0.9;
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(100 88 50 / var(--tw-text-opacity));
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(31 31 31 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:-z-10::before {
  content: var(--tw-content);
  z-index: -10;
}

.before\:block::before {
  content: var(--tw-content);
  display: block;
}

.before\:min-h-screen::before {
  content: var(--tw-content);
  min-height: 100vh;
}

.before\:origin-center::before {
  content: var(--tw-content);
  transform-origin: center;
}

.before\:scale-\[2\]::before {
  content: var(--tw-content);
  --tw-scale-x: 2;
  --tw-scale-y: 2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:bg-\[url\(\'images\/hero\.jpg\'\)\]::before {
  content: var(--tw-content);
  background-image: url('images/hero.jpg');
}

.before\:bg-cover::before {
  content: var(--tw-content);
  background-size: cover;
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}
